<!-- Javascript files -->
<!-- jQuery -->
<script src="/static/assets/js/jquery-1.11.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Background slider -->
<script src="/static/assets/js/jquery.backstretch.min.js"></script>
<!-- OwlCarousel -->
<script src="/static/assets/js/owl.carousel.min.js"></script>
<!-- Modal for portfolio -->
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Text rotator -->
<script src="/static/assets/js/jquery.simple-text-rotator.min.js"></script>
<!-- Waypoints -->
<script src="/static/assets/js/jquery.waypoints.js"></script>
<!-- CountTo  -->
<script src="/static/assets/js/jquery.countTo.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="/static/assets/js/wow.min.js"></script>
<!-- Smooth scroll -->
<script src="/static/assets/js/smoothscroll.js"></script>
<!-- Fitvids -->
<script src="/static/assets/js/jquery.fitvids.js"></script>
<!-- Custom scripts -->
<script src="/static/assets/js/custom.js"></script>